{% extends "similar_compounds_tanimoto/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
  <main role="main" class="container">
    <div class="row">
      <div class="card col-md-8">
        <h1 class="title">BioBERT</h1>
        <p>
          BioBERT (Bidirectional Encoder Representations from Transformers for Biomedical Text Mining)
          is an extension of the BERT (Bidirectional Encoder Representations from Transformers) model
          that was published by researchers at Google AI Language in 2018. At the time of writing, the
          BERT model can be fine-tuned to provide state-of-the-art results on a wide variety of
          NLP (Natural Language Processing) tasks (Devlin, et al, 2018). However, the authors of the
          BioBERT paper found that the BERT model resulted in unsatisfactory results when it was directly
          applied to biomedical text due to a shift from a general vocabulary corpus to biomedical terms
          (Lee, et al, 2019). Therefore, in short, the BioBERT model was further processed by using a
          large-scale biomedical corpus and the result was that it largely outperformed BERT and other
          previous state-of-the-art models in a variety of biomedical NLP tasks (Lee, et al, 2019).
          Therefore, the BioBERT model was selected to classify and rank the corresponding titles and
          abstracts of a given CID.
        </p>

        <img src="{% static 'bert_model/bert_image.PNG' %}" class="img-fluid">
      </div>

      <div class="col-md-4">
        <div class="content-section">
          <h3>Selected CIDs</h3>
          <p class='text-muted'>
            Precomputed and ranked titles and abstracts from PMIDs for indicated CIDs.
            <ul class="list-group">
              <!-- "{% url 'compare_chemicals' %}" -->
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '7784'%}">7784</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '12785'%}">12785</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '15950'%}">15950</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '37037'%}">37037</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '38017'%}">38017</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '90900'%}">90900</a></li>
              <li class="list-group-item list-group-item"><a href="{% url 'jump_to_output' '5497189'%}">5497189</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>

<!--
  <div class="container card">
    <div class="row">
      <h1 class="card-title">BERT</h1>
      <p class="col">BERT (Bidirectional Encoder Representations from Transformers) is a recent paper published by
        researchers at Google AI Language. It has caused a stir in the Machine Learning community by
        presenting state-of-the-art results in a wide variety of NLP tasks, including Question Answering
        (SQuAD v1.1), Natural Language Inference (MNLI), and others.</p>
      <p>BERT’s key technical innovation is applying the bidirectional training of Transformer, a popular
        attention model, to language modelling. This is in contrast to previous efforts which looked at a
        text sequence either from left to right or combined left-to-right and right-to-left training. The
        paper’s results show that a language model which is bidirectionally trained can have a deeper sense
        of language context and flow than single-direction language models. In the paper, the researchers
        detail a novel technique named Masked LM (MLM) which allows bidirectional training in models in which
        it was previously impossible.</p>

      <div class="text-center">
        <img src="{% static 'bert_model/bert_image.PNG' %}" class="img-fluid">
      </div>

      <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p>
        </div>
      </div>

     </div>



  </div>


  <div class="container mt-4 card mb-5">
    <div class="card-body">
      <h1 class="card-title">To Begin ...</h1>

        <p>Please insert abstract below.</p>

        <form method="post" action="#results">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-default mt-auto">Submit</button>
        </form>
     </div>
   </div>
-->
<!--
  <div class="container mt-4 card">
    <div class="card-body">
      <h1 class="card-title">To Begin ...</h1>

        <p>Please insert abstract below.</p>

        <form method="post" action="#results">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-default mt-auto">Submit</button>
        </form>

        <div id="results">
          {{ output }}
        </div>
     </div>
  </div>
-->

{% endblock content %}
