{% extends "similar_compounds_tanimoto/base.html" %}
{% block content %}

  <div class="container">
    <h1>Results</h1>
      <div>
        {% autoescape off %}
          {{ html_table }}
        {% endautoescape %}
      </div>
  </div>

{% endblock content %}
