{% extends "similar_compounds_tanimoto/base.html" %}
{% block content %}
  <main role="main" class="container h-100">
    <p class="container text-center">| <i>Tanimoto Similarity Score:</i> <b>{{row.tanimoto_percent}}</b> | <i>Total Number of Records:</i> <b>{{row.total_number_of_rows}}</b> |</p>

    <div class="row w-100 candidate_max_and_candidate_cid_section">
      <div class="col-sm-6">
        <h2 class="text-left">CANDIDATE</h2>
        <iframe class="candidate_cid_iframe" src={{row.next_candidates_cids_url}}>
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
      <div class="col-sm-6">
        <h2 class="text-left">HSDB MATCHES</h2>
        <iframe class="max_candidate_cid_iframe" src={{row.curr_corresponding_cids_url}}>
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>

    <div class="row w-100">
      <div class="col-sm-6">
        <form action="{% url 'compare_dissimilar_chemicals_iterate_both_lists' row.id row.candidate_index row.corresponding_cids_index %}" method="post" class="text-center">
          {% csrf_token %}
          <input type="submit" class="btn btn-default" name="get_next_candidate_cid" value="Next ({{row.display_purpose_candidate_index}} out of {{row.length_literal_row_candidates_cids}})">
        </form>
      </div>
      <div class="col-sm-6">
        <form action="{% url 'compare_dissimilar_chemicals_iterate_both_lists' row.id row.candidate_index row.corresponding_cids_index %}" method="post" class="text-center">
          {% csrf_token %}
          <input type="submit" class="btn btn-default" name="get_corresponding_cid" value="Next ({{row.display_purpose_corresponding_cids_index}} out of {{row.length_literal_row_corresponding_cids}})">
        </form>
      </div>
    </div>

    <div class="row w-100 mt-2 mb-1">
      <div class="container text-center">
        <button type="button" class="btn btn-default mt-auto" onclick=location.href="{% url 'compare_dissimilar_chemicals_iterate_rows' row.id_prev %}">Previous Row</button>
        <button type="button" class="btn btn-default mt-auto" onclick=location.href="{% url 'compare_dissimilar_chemicals_iterate_rows' row.id_next %}">Next Row</button>
        ({{row.id}})
      </div>
    </div>
  </main>
{% endblock content %}
