{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
    <meta name="DownloadOptions" content="noopen">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'similar_compounds_tanimoto/main.css' %}">
    <title></title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">

          <a class="navbar-brand mr-4" href="{% url 'home' %}"> NLM </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                  Compare Chemicals
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'compare_chemicals' %}">Tanimoto Similar Compounds</a>
                  <a class="dropdown-item" href="{% url 'dissimilar_compounds_home' %}">Tanimoto Dissimilar Compounds</a>
                  <!-- <a class="dropdown-item" href="{% url 'below_threshold_tanimoto' %}">Below Threshold Tanimoto Compounds</a> -->
                </div>
              </li>

              <a class="nav-item nav-link" href="{% url 'bert_model_home' %}">Compare Texts</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!--
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            -->
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% if messages %}
      {% for message in messages %}
        <div class="container alert alert-danger">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
