{% extends "similar_compounds_tanimoto/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container card">
    <div class="card-body">
      <h2 class="card-title">Tanimoto Analysis</h2>
      
      <p>Please press the <b>START</b> button below to start comparing the candidate chemicals to the
         HSDB chemicals. The compound results are those that have a Tanimoto Similarity Score <b>greater
         than 90%.</b></p>

      <button type="button" class="btn btn-default mt-auto" onclick=location.href="{% url 'compare_chemicals_iterate_rows' 1 %}"><b>START</b></button>

      <br>
      <br>
      <p><b>OR</b></p>

      <p>Please enter in a valid row number and click <b>SUBMIT</b> to naviate to a specific row.</p>

      <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-default mt-auto"><b>SUBMIT</b></button>
      </form>

     </div>
  </div>

{% endblock content %}
