{% extends "similar_compounds_tanimoto/base.html" %}
{% block content %}
  <main role="main" class="container h-100">
    <p class="container text-center">| <i>Tanimoto Similarity Score:</i> <b>{{row.tanimoto_percent}}</b> | <i>Total Number of Records:</i> <b>{{row.total_number_of_rows}}</b> |</p>

    <div class="row w-100 candidate_max_and_candidate_cid_section mt-2">
      <div class="col-sm-6">
        <h2 class="text-left">CANDIDATE</h2>
        <iframe class="candidate_cid_iframe" src={{row.first_candidate_cids_url}}>
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
      <div class="col-sm-6">
        <h2 class="text-left">HSDB MATCHES</h2>
        <iframe class="max_candidate_cid_iframe" src={{row.first_max_cids_url}}>
          <p>Your browser does not support iframes.</p>
        </iframe>
      </div>
    </div>

    <div class="row w-100">
      <div class="col-sm-6">
        <form action="{% url 'compare_chemicals_iterate_candidate_list' row.id 0 0 %}" method="post" class="text-center">
          {% csrf_token %}
          <input type="submit" class="btn btn-default" name="get_next_candidate_cid" value="Next (1 out of {{row.length_literal_row_candidate_cids}})">
        </form>
      </div>
      <div class="col-sm-6">
        <form action="{% url 'compare_chemicals_iterate_candidate_list' row.id 0 0 %}" method="post" class="text-center">
          {% csrf_token %}
          <input type="submit" class="btn btn-default" name="get_next_max_cid" value="Next (1 out of {{row.length_literal_row_max_cids}})">
        </form>
      </div>
    </div>

    <div class="row w-100 mt-2 mb-1">
      <div class="container text-center">
        <button type="button" class="btn btn-default" onclick=location.href="{% url 'compare_chemicals_iterate_rows' row.id_prev %}">Previous Row</button>
        <button type="button" class="btn btn-default" onclick=location.href="{% url 'compare_chemicals_iterate_rows' row.id_next %}">Next Row</button>
        ({{row.id}})
      </div>
    </div>
  </main>
{% endblock content %}
