{% extends "similar_compounds_tanimoto/base.html" %}
{% block content %}
  <main role="main" class="container h-100">

    <p class="container text-center">| <i>Total Number of Records:</i> <b>{{row.total_number_of_rows}}</b> |</p>

    <div class="row w-100 candidate_max_and_candidate_cid_section mt-2 text-center">
      <h2 class="container text-center">COMPOUND BELOW THRESHOLD</h2>
      <iframe class="candidate_cid_iframe" src={{row.cid_url}}>
        <p>Your browser does not support iframes.</p>
      </iframe>
    </div>

    <div class="row w-100 mt-2 mb-1">
      <div class="container text-center">
        <button type="button" class="btn btn-default" onclick=location.href="{% url 'cid_iterate_rows' row.id_prev %}">Previous Row</button>
        <button type="button" class="btn btn-default" onclick=location.href="{% url 'cid_iterate_rows' row.id_next %}">Next Row</button>
        ({{row.id}})
      </div>
    </div>

  </main>
{% endblock content %}
