{% extends "similar_compounds_tanimoto/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

  <div class="container card">
    <div class="card-body">
      <h2 class="card-title">Tanimoto Below Threshold of 0.2</h2>

      <p>The notion of chemical similarity (or molecular similarity) plays an important role in predicting
        the properties of chemical compounds, designing chemicals with a predefined set of properties, and
        especially conducting drug design studies. These are often accomplished by screening large indexes
        containing structures of available or potentially available chemicals.</p>

      <p>For example, one commonly used algorithm to calculate the similarity is the Tanimoto coefficient.
        In the Tanimoto Algorithm A and B are sets of fingerprint bits on in the fingerprints of molecule A
        and molecule B. AB is the set of common bits of fingerprints of both molecule A and B. The Tanimoto
        coefficient ranges from 0 when the fingerprints have no bits in common, to 1 when the fingerprints
        are identical.</p>

     </div>
  </div>

  <div class="container mt-4 card">
    <div class="card-body">
      <h5 class="card-title">Dissimilar Compounds</h5>

        <p>Chemicals included in this section has a max tanimoto score below 0.2.
           Also the compound must have at least 4 carbons and 1 nitrogen <b>OR</b> have 4 carbons and
           1 oxygen.</p>

        <p>Please press the <b>START</b> button below to start viewing all the compounds that
           meet the above criteria.</p>

        <button type="button" class="btn btn-default mt-auto" onclick=location.href="{% url 'cid_iterate_rows' 1 %}">
          START
        </button>

        <br><br>
        <p><b>OR</b></p>

        <p>Please enter in a valid row number and click <b>SUBMIT</b> to go to a specific row number.</p>

        <form method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <button type="submit" class="btn btn-default mt-auto">Submit</button>
        </form>

     </div>
  </div>

{% endblock content %}
